<detalle-cliente *ngIf="clienteSeleccionado" [cliente] = "clienteSeleccionado" > </detalle-cliente>

<div class="card border-primary mb-3 my-3" >
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Lista de Clientes</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-success" [routerLink]="[ '/clientes/form' ]" >Crear Cliente</button>
    </div>
    <div *ngIf="clientes?.length ==0 " class="alert alert-info" >
      Registros insuficientes para mostrar¡ sorry :(
    </div>
    <table class="table table-bordered table-striped" *ngIf="clientes?.length > 0 ">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Fecha</th>
          <th>Editar</th>
          <th>Eliminar</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes" >
          <td>
            <img *ngIf="cliente?.foto" (click)="abrirModal(cliente)" src="http://localhost:8080/api/uploads/img/{{cliente.foto}}"  alt="{{cliente.nombre}}" style="width: 64px; cursor: pointer;" class="img-thumbnail rounded"  >

            <img *ngIf="!cliente?.foto" (click)="abrirModal(cliente)" src="http://localhost:8080/images/no-usuario.png"  alt="sin foto" style="cursor: pointer;" class="img-thumbnail rounded"  >
          </td>
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido | uppercase }}</td>
          <td>{{cliente.email}}</td>
          <td>{{cliente.createAt | date: "EEEE dd, MMMM yyyy"}}</td>
          <td><Button class="btn btn-primary"  [routerLink]="[ '/clientes/form', cliente.id ]" >Editar</Button></td>
          <td><Button class="btn btn-danger" (click) = 'delete(cliente)' >Eliminar</Button></td>
          
        </tr>
      </tbody>

    </table>
    <paginator-nav  *ngIf="paginator" [paginator]="paginator" ></paginator-nav>
    
  </div>
</div>
