<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">{{err}}</li>
</ul>

<div class="card text-center">
  <div class="card-header">
    {{tittle}}
  </div>
  <div class="card-body">
    
    <form #clienteForm="ngForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="cliente.email" name="email"  #email="ngModel" > <!-- required email  -->
        <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)" >
          <div *ngIf="email.errors.required">
            El email es requerido
          </div>
          <div *ngIf="email.errors.email">
            No presenta el formato correcto
          </div>
        </div>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Name</label>
        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="cliente.nombre" name="nombre"  #nombre="ngModel" > <!-- required minlength="4"  -->
        <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <div *ngIf="nombre.errors.required">
            Nombre es requerido
          </div>
          <div *ngIf="nombre.errors.minlength">
            Minimo de caracteres: 4
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Lastname</label>
        <input type="text" class="form-control"  placeholder="Lastname" [(ngModel)]="cliente.apellido" name="apellido" #apellido="ngModel" > <!-- required minlength="4" -->
        <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
          <div *ngIf="apellido.errors.required" >
            El apellido es requerido
          </div>
          <div *ngIf="apellido.errors.minlength" >
            Minimo de caracteres: 4
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="createAt">Fecha</label>
        <input [matDatepicker]="myDatepicker" class="form-control"  placeholder="fecha" [(ngModel)]="cliente.createAt" name="createAt" #apellido="ngModel" style="display:inline; width: 50%" >
        <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </div>

      <div class="form-group">
        <label for="region">Regiones</label>
        <select  [compareWith]="compararRegion" class="form-control" [(ngModel)]="cliente.region" name="region" style="width: 500px" >
          <option [ngValue]="undefined" >  ----- Seleccionar una Region  ------ </option>
          <option *ngFor="let region of regiones" [ngValue]="region" >  {{region.nombre}} </option>
        </select>
      </div>

      <button role="button" class="btn btn-primary" (click) = 'create()' [disabled]="!clienteForm.form.valid"   *ngIf="!cliente.id else elseBlock">Crear</button>
      <ng-template #elseBlock>
        <button role="button" class="btn btn-primary" (click) = 'update()' [disabled]="!clienteForm.form.valid"  >Editar</button>
      </ng-template>
    </form>

  </div>
  <div class="card-footer text-muted">
    @RobSystem
  </div>
</div>